/* src\components\Footer\style.css */

.footer-container {
  background-color: #f1f1f1;
  color: black;
  text-align: center;
  padding: 8px;
  bottom: 0;
  position: fixed;
  width: 100%;
}